@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #FFEEAD;
  --secondary-color: #96CEB4;

  --card-blur: 10px;
  --card-opacity: 0.8;
  --neumorphic-light: #ffffff;
  --neumorphic-shadow-dark: rgba(163, 177, 198, 0.5);
  --neumorphic-shadow-light: rgba(255, 255, 255, 0.8);
  --neumorphic-bg: #FFEEAD;
  --neumorphic-text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  --glass-border: rgba(255, 255, 255, 0.3);
  --animation-speed: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  width: 100%;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}